*{
    margin: 0;
    padding: 0;
   
}
a{
    text-decoration: none;
    color: white;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map{
    height: calc(100vh - 50px);
    margin: 0px;
}

.modal-body div {
    padding-bottom: 5px;
}
input.time{
    width: 5rem;
    text-align: center;
    display: inline;
    margin-right: 2px;
}
input.distanceDisplayModal{
    display: inline;
    width: 10rem;
}
legend{
    font-size: 1rem;
    cursor: default;
    display: inline;
}

@media (max-width: 600px){
    #map{
        height: calc(100vh - 50px);
        margin: 0px;
    }
    input.distanceDisplayModal{
        display: block;
        width: 100%;
    }
}
